.contributionTable{
    border: 1px solid black;
    margin: 3px;
    padding: 2px;
    text-align: center;
}
.contributionTable thead{
    background-color: aqua;
    border-bottom: 2px solid #ddd;

}
.contributionTable th{
    padding: 12px;
    text-align: left;
    font-weight: 600;
    color:#333;

}

.contributionTable td{
    padding: 12px 10px;
    background-color: #333;
    border-bottom: 1px solid #201f1f;

}